html 
    head 
        title="Document"
        style 
            include style.css 
    body 
        div(class="navbar")
            ul 
                li 
                    a(href="/")='INICIO'
                    a(href="/productos")=' PRODUCTOS'
        h1='Ingrese un Producto'   
        div(class="container")    
            form(method="POST" action="productos" class="formulario") 
                label='Nombre'
                input(type="text"  name="title")
                label='Precio'
                input(type="number"  name="price")
                label='URL'
                input(type="text" name="thumbnail")
                input(type="submit" value="Enviar" class="button")
        footer 
            p 
            strong='DESIGN WITH PUG'